<div class="row">
  <%= simple_form_for question do |f| %>
    <div>
      <%= f.input :content, label: false, placeholder: "J'ai mal au ventre, courbatures, ..." %>
    </div>
    <div class="col mt-5">
      <%= f.submit "Rechercher", class: "send-button" %>
    </div>
    <% end %>
