<div class="row">
    <%= simple_form_for question do |f| %>
      <div class="form-control form-control-lg">
        <%= f.input :content, label: '', placeholder: "J'ai mal au pied" %>
      </div>
      <div class="col mt-5">
        <%= f.submit "Poster une question", class: "btn btn-outline-primary rounded-pill" %>
      </div>
      <% end %>
  </div>
