

    <%= simple_form_for @question do |f| %>
      <div>
        <%= f.input :content, label: false, placeholder: "J'ai mal au pied" %>
      </div>
      <div class="col mt-5">
        <%= f.submit "Démarrer le bilan", class: "btn btn-primary rounded-pill" %>
      </div>
    <% end %>
