<div class="container p-4" style='margin-top: 50px;'>
  <div class="shadow shadow-container p-4">
  <h1 class="fw-bold">Éditer ma question</h1>
    <div class="row">
      <%= simple_form_for @question do |f| %>
        <div class="col-md-auto fst-italic">
          <%= f.input :content, label: 'Saisir votre question :' %>
        </div>
        <div class="col mt-5">
          <%= f.submit "Éditer une question", class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
