<div class="container d-flex justify-content-center" style="margin-top: 100px;">
  <div class="input-question">
    <h1 class="fw-bold ">Peux-tu me dire tes symptômes ?</h1>
      <br>
      <%= render "input", question: @question %>
  </div>
</div>
