// Specific CSS for your home-page
body {
  h1, h4 {
    color: rgb(15, 14, 14) !important;
  }
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: image-url('back2.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.logo-medi{
  width: 250px;
}

.container {
  max-width: 960px;
  margin-top: 110px;
}

.form-control {
  width: 500px;
  border-radius: 30px;
  background-color: transparent;
  }

footer {
  background-image: image-url('line.gif');
  background-size: cover;
}
