// Specific CSS for your home-page
@media (min-width: 576px) {
body {
  font-family: $body-font;
  h1, h4 {
    color: rgb(15, 14, 14) !important;
  }
  justify-content: center;
  align-items: center;
  // background-image: image-url('back.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.send-button {
  font-family: $body-font;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  padding : 10px 20px;
  border-radius: 8px;
  transition: .3s;
  }

.send-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

  .img-card{
  width: 450px;
}

  .img-card{
    width: 350px;
  }

.input-question {
  font-weight: lighter;
}

.flag {
  background-color: #3b82f6;
  font-weight: lighter;
  font-size: 18px;
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
}

  .form-control {
    width: 400px;
    border-radius: 30px;
    background-color: transparent;
  }
}
