// Specific CSS for your home-page
body {
  h1, h4 {
    color: white !important;
  }
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: image-url('line2.gif');
  background-size: cover;
}

.container {
  max-width: 700px;
  margin-top: 110px;
}

.form-control {
  width: 500px;
  border-radius: 30px;
  background-color: transparent;
  }
