/* utility */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.slide-container{
  max-width: 1220px;
  width: 100%;
  background-color: transparent;
  padding: 40px 0;
}

.card-wrapper{
  column-gap: 8px;
}

.slide-content{
  margin: 0 40px;

}

.card {
  width: 620px;
  border-radius: 25px;
  background-color: #fff;
  transition: all 0.4s ease;
}

.card:hover{
  transform: translateY(-15px);
}

.header-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;;
}

.header-content{
  position: relative;
  row-gap: 5px;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
content: "";
position: absolute;
right: 0;
bottom: -40px;
height: 40px;
width: 40px;
background-color: #4070f4;
}


.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-title {
  position: relative;
}


.description{
  margin-top: 40px;
  font-size: 16px;
  color: #999;
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
  color: green;
  cursor: not-allowed;
}


html.sr .load-hidden {
  visibility: hidden;
}

.widget-list {
  display: flex;
  list-style: none;
  // margin: 0;
  // padding: 0;
  background: transparent;
}

.widget {
  // flex: auto;
  margin: 0.5rem;
  background: white;
  // line-height: 20px;
  text-align: center;
}

/* extension */
html.sr .widget {
  visibility: hidden;
}
