<div class="container mb-3">
<h1 class="fw-bolder">Mon suivi</h1>
 <div>
    <% @net = @answer.content.split("\n")&.map { |element| element.gsub("\n", "")}.reject(&:empty?) %>
      <%@net.each do |net| %>
      <div class="container card with-shadow p-4">
        <p><%= net %></p>
      </div>
    <% end %>
  </div>
</div>
