
<div class="container p-5" style="margin-top: 80px;">

  <div class="shadow rounded-4">
    <div class="tab-pane">
      <h1 class="text-center p-4">Mon historique</h1>
        <ul class="list-group">
          <% @questions.each do |question| %>
            <li class="list-group-item border border-4 border-start-0 border-end-0">
              <div class="d-flex justify-content-between">
                <h3>Symptome: <%= question.content %></h3>
                <p> <%= question.created_at.strftime('%d-%m-%Y') %> </p>
              </div>
            </li>
            <li class="list-group-item bg-transparent border border-0 p-4">
              <% question.answer.tasks.each do |task|  %>
                <p><%= task.content %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
