.avatar {
  width: 60px;
  // border-radius: 50%;
}

.menu {
  width: 50px;
  height: 60px;
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.menu:hover .overlay {
  opacity: 1;
}

.avatar-close{
  width: 41px;
  float: right;
  margin-right: -4.3em;
}

.avatar-large {
  width: 66px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
