// .navbar-lewagon {
//   // padding: 0;
//   margin-left: 0;
//   background: transparent;

// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 60px;
// }

// .dropdown-menu{
//   background: transparent;
//   font-size: larger;
// }

// .menu img {
//   opacity: 1;
//   transition: opacity 0.5s ease;
// }

// .overlay {
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 1;
//   opacity: 0;
//   transition: opacity 0.5s ease;
// }

// .menu .overlay {
//   opacity: 0;
// }

// .menu:hover img:first-child {
//   opacity: 0;
// }
// .menu:hover .overlay {
//   opacity: 1;
// }

.navbar-lewagon {
  margin-left: 0;
  background: transparent;
  }

  .navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
  width: 10%;
  max-width: 60px;
  }

  .dropdown-menu{
  background: transparent;
  font-size: 1.5rem;
  }

  .menu img {
  opacity: 1;
  transition: opacity 0.5s ease;
  max-width: 100%;
  height: auto;
  }

  .overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
  }

  .menu .overlay {
  opacity: 0;
  }

  .menu:hover img:first-child {
  opacity: 0;
  }

  .menu:hover .overlay {
  opacity: 1;
  }

  @media (max-width: 768px) {
  .navbar-lewagon .navbar-brand img {
  width: 20%;
  }

  .dropdown-menu{
  font-size: 1.2rem;
  }
  }

  @media (max-width: 576px) {
  .navbar-lewagon .navbar-brand img {
  width: 30%;
  }

  .dropdown-menu{
  font-size: 1rem;
  }
  }
